.edit-box {
    padding: 1em 2em;
    border: 1px solid #468780;
    min-width: 220px;
    margin-left: 1em;
}

.edit-box h2 {
    color: #468780;
    text-align: center;
}

.edit-box .close-button,
.edit-box .save-button {
    display: block;
    border: none;
    margin: 27px auto;
    height: 100%;
    padding: 1em;
    color: #fff;
    width: 50%;
}

.edit-box .close-button {
    background-color: #650E1C;
}

.edit-box .save-button {
    background-color: #529B67;
}

.edit-box .close-button:focus {
    outline-color: #650E1C;
}

.edit-box .save-button:focus {
    outline-color: #427E53;
}

.edit-box .buttons-container {
    display: flex;
    width: 100%;
}

.edit-box input[type="text"] {
    width: 90%;
    border: 1px solid #dcdcdc;
    outline-color: #98EEE5;
    padding: .25em .75em;
}