.field {
    width: 180px;
    box-sizing: border-box;
    padding: .75em 1em;
    border: 1px solid #dcdcdc;
}

.details-button,
.edit-button {
    border: none;
    margin: 1px;
    height: 100%;
    padding: 1em;
    width: 70px;
}

.details-button {
    background-color: #54AFA5;
    color: #fff;
}

.edit-button {
    background-color: #CDF4F0;
    color: #468780;
}

.details-button:focus {
    outline-color: #468780;
    background-color: #468780;
}

.edit-button:focus {
    outline-color: #54AFA5;
    background-color: #54AFA5;
    color: #fff;
}